body {
    background: url(/images/join_member/login_bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.m_join_wrap {
    margin: 0 auto;
    padding: 30px;
}

form {
    max-width: 600px;
    background: var(--root_bg_color);
    margin: 0 auto;
    border-radius: 10px ;
    box-shadow: var(--img_box_box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    position: relative;
    color: var(--secondary_color);
    font-size: 30px;
    font-weight: var(--font_extra_bold);
    padding-top: 30px;
    margin-bottom: 34px;
    text-align: center;
    z-index: 1;
}

.txt_line {
    position: absolute;
    display: block;
    background: var(--primary_color);
    width: 100%;
    height: 14px;
    opacity: 0.55;
    margin-top: -16px;
    z-index: -1;
}

.profile_box {
    display: inline-block;
    position: relative;
    margin: 10px 0 34px;
}

.profile_thumbnail {
    display: block;
    box-shadow: var(--img_box_box-shadow);
    border-radius: 50%;
    width: 100px;
    height: auto;
}

.profile_btn_box {
    background: #fafcff;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--img_box_box-shadow);
    position: absolute;
    right: 0;
    bottom: -2px;
}

.profile_btn img {
    display: block;
    width: 26px;
    height: auto;
    padding: 3px;
    opacity: 0.8;
}

fieldset {
    width: 100%;
    padding: 50px 30px 0;
    background: #fff5fa;
    border: none;
    border-radius: 10px;
    
}

.user_input_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#mobile, #email, #user_password {
    background: var(--root_bg_color);
    border: 1px solid #5c5f77;
    border-bottom: none;
    border-radius: 4px;
    width: 100%;
    height: 42px;
    margin: 0 auto;
    padding: 0 12px;
    font-size: 14px;
    font-weight: var(--font_medium);
}

#user_password_confirm, #user_name {
    background: var(--root_bg_color);
    border: 1px solid #5c5f77;;
    border-radius: 4px;
    width: 100%;
    height: 42px;
    margin: 0 auto;
    padding: 0 12px;
    font-size: 14px;
    font-weight: var(--font_medium);
}

#mobile:focus, #email:focus, #user_password:focus, 
#user_password_confirm:focus, #user_name:focus {
    border: 3px solid var(--primary_color);
    outline: none;
}

.user_input_box4, .user_input_box5 {
    margin-bottom: 20px;
}

.user_name {
    font-size: 15px;
    line-height: 1.0;
    font-weight: var(--font_semi_bold);
}

.bullet {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: var(--primary_color);
    border-radius: 50%;
}

.user_input_box5 label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 6px;
}

.m_join_button {
    background: var(--primary_color);
    width: 100%;
    color: var(--root_bg_color);
    height: 42px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: var(--font_medium);
    display: flex;
    justify-content: center;
    line-height: 42px;
    margin-bottom: 10px;
}

.m_join_notice {
    font-size: 13px;
    font-weight: var(--font_medium);
    color: var(--primary_color);
    line-height: 1.1;
    margin-bottom: 40px;
}

